header {
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template: 1fr 30px /  360px 360px;
    grid-template-areas:
    "computer player"
    "blank button";
    column-gap: 4rem;
    justify-content: center;
}

button {
    grid-area: button;
    width: 60px;
    height: 20px;
    align-self: center;
    justify-self: center;
}

.player, .computer {
    display: grid;
    grid-template: 4rem 1fr 2rem / 2rem 1fr;
    grid-template-areas: 
    "title title"
    "y-axis board"
    "blank x-axis";
    width: 360px;
}
.title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    margin: 0;
}
.y-axis {
    grid-area: y-axis;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.y-axis p {
    margin: 1px 0 0 1px;
    height: 30px;
    display: flex;
    align-items: center;
}
.x-axis {
    grid-area: x-axis;
    display: flex;
    align-items: center;
}
.x-axis p {
    margin: 1px 0 0 1px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.board-1, .board-2 {
    grid-area: board;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.box-ai, .box {
    border: 1px solid;
    /* margin-top: 1px;
    margin-left: 1px; */
    margin-right: -1px;
    margin-bottom: -1px;
    width: 30px;
    height: 30px;
}


.box-hover:hover {
    background-color: rgb(177, 175, 175);
}

